.App{
  font-family: 'Montserrat', sans-serif;
}

.on-dark{
  background: rgb(26, 26, 26);
}

.card{
  width: auto;
  height: auto;
  background-color: rgb(26, 26, 26);
  color:#fff;
  margin: 100px;
  padding: 40px;
  box-sizing: border-box;
}

.border-gradient{
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}

.border-gradient-purple{
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.MuiTypography-h5, h4, .MuiSlider-markLabel, .MuiSlider-markLabelActive, .MuiInputBase-input {
  color: #fff !important;  /*Pisa el estilo x default de Material-UI */
}

.title {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
}

.MuiInputBase-root{
  width: 120px;
  max-width: 120px;
  border: 1px solid white;
  color: white;
  text-align: center;
  padding: 0 15px;
}

.MuiInputBase-root{
  text-align: left;
}

.Mui-Button{
  color: primary;
}